//gitlab.com/api/v4/projects/15815649/packages/npm/:_authToken=UwSYerxUBTxP6gzjJSBp
//gitlab.com/api/v4/packages/npm/:_authToken=UwSYerxUBTxP6gzjJSBp
@homelte_dev:registry=https://gitlab.com/api/v4/packages/npm/
//npm.pkg.github.com/:_authToken=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
@abiyyualifandin:registry=https://npm.pkg.github.com
